*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

header {
    width: 90%;
    margin: auto;
    height: 80px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: black;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

.header__nav {
    flex: 33.33%;
}

.header__nav ul{
    list-style-type: none;
}

.header__nav li {
    display: inline;
    margin-right: 2rem;
    font-size: 20px;
}

.header__nav a {
    color: black;
    text-decoration: none;
}

.header__logo {
    display: flex;
    flex: 33.33%;
    align-items: center;
    justify-content: center;
}

.header__logo img {
    width: 40px;
}

.header__logo h2 {
    font-size: 30px;
}

.header__search {
    flex: 33.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header__search input {
    margin-right: 2rem;
    background-image: url(./assets/1200px-Google_Magnifying_Glass.svg.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    width: 292px;
    padding-left: 10px;
}

.header__search a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main__image {
    background-image: url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 633px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.main__image p{
    color:white;
    font-size: 45px;
}

.main__image #main__image_p1 {
    transform: translate(-200px,-200px);
    inline-size: 350px;
    overflow-wrap: break-word;
}

.main__image #main__image_p2 {
    transform: translate(400px,200px);
    inline-size: 450px;
    overflow-wrap: break-word;
}


#main_image {
    width: 100%;
    height: 633px;
    z-index: -1;
}

#main__about-us_img1 {
    width: 397px;
    height: 534px;
    float: left;
    margin-top: 75px;
}

#main__about-us_img2 {
    width: 600px;
    height: 808px;
    transform: translate(0px, -190px);
}


.main__about-us {
    width: 90%;
    margin: auto;
}

.main__about-us h1 {
    margin-top: 100px;
    border-bottom: black;
    border-bottom-style: solid;
    padding-bottom: 10px;
    width: 60%;
    margin-bottom: 100px;;
}

#main__about-us_p1 {
    width: 60%;
    line-height: 200%;
}

#main__about-us_p2 {
    margin-left: 100px;
    margin-top: 75px;
    margin-right: 5%;
    width: 30%;
    float: left;
    line-height: 200%;
}
.main__products {
    display: grid;
    grid-template-areas:
        "top-l top top-r"
        "mid-l mid mid-r"
        "bot-l bot bot-r";
}

.main__products img {
    width: 398px;
    height: 398px;
}

#our_products_h1 {
    margin-left: 5%;
    margin-bottom: 200px;
    border-bottom: black;
    border-bottom-style: solid;
    padding-bottom: 10px;
    width: 60%;
    margin-bottom: 100px;
}

.main__products {
    display: grid;
    grid-template-areas:
        "top-l top top-r"
        "mid-l mid mid-r"
        "bot-l bot bot-r";
    width: 90%;
    margin: auto; 
}

.main__products ul {
    list-style-type: none;
}

.main__products a {
    width: 398px;
    color: black;
    text-decoration: none;
}

.main__products div {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 20%;
}

.main__products li {
    display: inline;
}

.main__products li a {
    color:#BF7631;
    margin-top: 10%;
    text-decoration: underline
}

.main__products button {
    float: right;
    width: 130px;
    height: 39px;
    background-color: #BF7631;
    border: none;
    color: white;
}


.main__contact-us h1 {
    border-bottom: black;
    border-bottom-style: solid;
    width: 60%;
    margin-left: 5%;
}

.main__contact-us form {
    width: 60%;
    margin: auto;
}

.main__contact-us h4 {
    margin-top: 2.5%;
    margin-bottom: 1%;
}

#email-txt-box {
    width: 100%;
    height: 54px;
}

#message-txt-box {
    width: 100%;
    height: 205px;
}

.main__contact-us button {
    float: right;
    margin-top: 10%;
    width: 130px;
    height: 39px;
    background-color: #BF7631;
    border: none;
    color: white;
    margin-bottom: 10%;
}

footer div {
    display: flex;
    background-color: #BF7631;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: center;
}

footer li {
    display: inline;
}

.footer_part2 {
    display: flex;
    flex: 33.33%;
    align-items: center;
    justify-content: center;
}

.footer_part2 img {
    width: 96px;
    height: 96px;
}

.footer_part2 h2 {
    font-size: 40px;
}